<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="\css\styles.css">

<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700&family=Roboto&display=swap"
    rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

<body>

    <home> <img class="logoImg" src="\img\logo-mercado-liebre.svg" />
    </home>
    <header>


        <div class="searchBarContainer"> <input type="text" placeholder="Busqueda, Productos, Marcas"><button><i
                    class="fas fa-search"></i></button></div>
        <p>
            <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito

        </p>

        <nav class="linksAling ">

            <ul class="linksNavHidden">
                <a href="#">
                    <li>Ofertas</li>
                </a>
                <a href="#">
                    <li>Tiendas oficiales</li>
                </a>
                <a href="#">
                    <li>Vender</li>
                </a>
                <a href="#">
                    <li>Ayuda</li>
                </a>
            </ul>


            <ul class="linksNavHidden">
                <li>
                    <a href="#">Creá tu cuenta<i class="fas fa-address-card"></i>
                </li></a>

                <a href="#">
                    <li>
                        Ingresá<i class="fas fa-sign-in-alt"></i>
                    </li>
                </a>
                <a href="#">
                    <li>
                        Mis compras<i class="fas fa-shopping-basket"></i>
                    </li>
                </a>
            </ul>


            <div class="burguerMenuCenter ">
                <div class="burger-menu burguerHidden">
                    <i class="fas fa-bars "></i>
                </div>

        </nav>

    </header>
    <img class="bannerImg" src="\img\img-home-banner.jpg" />
    <main>

        <h1 class="titular">Basado en tu última visita</h1>
        <div class="borderSolidArticle">
            <ul class="sizeTextOffDescripcion sizeTextPrice" style="list-style-type:none;">
                <img class="productImg" src="\img\img-cafetera-moulinex.jpg" />
                <li>$6.770</li>
                <li>40% OFF</li>
                <li>Cafetera Moulinex</li>
            </ul>

            <ul class="sizeTextOffDescripcion sizeTextPrice" style="list-style-type:none;">
                <img class="productImg" src="\img\img-macbook-pro-2019.jpg" />
                <li>$230.000</li>
                <li>20% off</li>
                <li>MacBook Pro 2019</li>
            </ul>

            <ul class="sizeTextOffDescripcion sizeTextPrice" style="list-style-type:none;">
                <img class="productImg" src="\img\img-samsung-galaxy-s10.jpg" />
                <li>$70.500</li>
                <li>10% off</li>
                <li>Samsung Galaxy S10</li>
            </ul>
            <ul class="sizeTextOffDescripcion sizeTextPrice" style="list-style-type:none;">
                <img class="productImg" src="\img\img-tv-samsung-smart.jpg" />
                <li>$23.200</li>
                <li>5% off</li>
                <li>SmartTv Samsung 43"</li>
            </ul>

            <h1 class="titular">
                Ofertas
            </h1>

            <ul class="sizeTextOffDescripcion sizeTextPrice" style="list-style-type:none;">
                <img class="productImg" src="\img\img-cafetera-moulinex.jpg" />
                <li>$6.770</li>
                <li>40% OFF</li>
                <li>Cafetera Moulinex</li>
            </ul>

            <ul class="sizeTextOffDescripcion sizeTextPrice" style="list-style-type:none;">
                <img class="productImg" src="\img\img-macbook-pro-2019.jpg" />
                <li>$230.000</li>
                <li>20% off</li>
                <li>MacBook Pro 2019</li>
            </ul>

            <ul class="sizeTextOffDescripcion sizeTextPrice" style="list-style-type:none;">
                <img class="productImg" src="\img\img-samsung-galaxy-s10.jpg" />
                <li>$70.500</li>
                <li>10% off</li>
                <li>Samsung Galaxy S10</li>
            </ul>
            <ul class="sizeTextOffDescripcion sizeTextPrice" style="list-style-type:none;">
                <img class="productImg" src="\img\img-tv-samsung-smart.jpg" />
                <li>$23.200</li>
                <li>5% off</li>
                <li>SmartTv Samsung 43"</li>
            </ul>
        </div>
    </main>
    <footer>
        <i class="fas fa-credit-card iconFooter"></i>
        <h4 class="titular">Pagá con tarjeta o en efectivo</h4>
        <span>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</span>
        <i class="fas fa-gift iconFooter"></i>
        <h4 class="titular">Envío gratis desde $ 2.500</h4>
        <span class="descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</span>
        <i class="fas fa-user-shield iconFooter"></i>
        <h4 class="titular">Seguridad, de principio a fin</h4>
        <span class="descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</span>

        <span class="copyrightStyle">Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>
</body>

</html>